<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/style.css">
    <script src="/public/main.js"></script>
    <title>Internship</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <br><h1 class="text-center title-h1" id="h1-title">Instagram Geo Finder</h1>
          <hr class="hr-line">
          <form action="" method="post" id="instagramplacesform">
            <div class="form-group">
              <label for="place" id="location-label">Location:</label>
              <input name="place" id="place" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Search</button>
            <br><br>
            <div id="post-information">
              <p id="loading"></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script>
    const formElement = document.querySelector("#instagramplacesform")
    formElement.addEventListener("submit", event => {
      event.preventDefault();
      let loadingHtmlTag = document.getElementById("loading");
      loadingHtmlTag.textContent = "Loading Users...";
      const formDataObject = new FormData(formElement);
      const formDataEntries = Object.fromEntries(formDataObject);
      const place = formDataEntries['place'];
      const thereIsplaceToSearch = place != ''
      if (thereIsplaceToSearch) {
        fetch(`/api/v1/place-information/?place_id=${place}`)
          .then(data => { return data.json(); })
          .then(jsonResponse => {
            const arrayOfUserMedia = jsonResponse.media;
            for (let media of arrayOfUserMedia) {
              const layoutOfContent = media.layout_content;
              const userMedia = layoutOfContent.medias[0].media;
              const userPic = userMedia.user.profile_pic_url;
              const userName = userMedia.user.username;
              const container = document.getElementById("post-information");
              const img = document.createElement('img');
              const UserProfileLink = document.createElement('a');
              img.crossOrigin = "same-origin";
              img.src = `https://corsproxy.io/?${userPic}`;
              UserProfileLink.href = "https://www.instagram.com/"+userName;
              UserProfileLink.appendChild(img)
              container.appendChild(UserProfileLink);
              console.log({userName: userPic});
            }
          })
          .catch(error => { console.log(error) });
      }
    })
  </script>
</html>
